.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    min-height: 285px;
    gap: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

input{
    position: relative;
    width: 90%;
    padding: 10px 20px 10px 0px;
    outline: 0;
    border: 0;
    color: rgb(rgb(43, 43, 43));
    border-bottom: 1px solid rgb(94, 94, 94);
}

.buttonCompra{
    margin-top: 20px;
    padding: 10px 20px;
    text-align: center;
    color: rgb(240, 240, 240);
    background-color: rgb(43, 43, 43);
    transition: all .2s ease;
    border-radius: 10px;
    width: 200px;
}

.buttonCompra:hover{
    color: rgb(29, 29, 29);
    background-color: rgb(224, 224, 224);
}

.buttonCompra:active{
    transform: scale(.94);
}

.buttonCompraDisabled{
    padding: 10px 20px;
    text-align: center;
    transition: all .2s ease;
    border-radius: 10px;
    width: 200px;
    color: rgb(161, 161, 161);
    background-color: rgb(224, 224, 224);
    cursor: default;
}

.buttonCompraDisabled:active{
    transform: scale(1);
}

.spanEmail{
    font-size: 14px;
    color: rgb(255, 60, 60);
    width: 95%;
}

.spanLoad{
    font-size: 14px;
    color: rgb(2, 133, 2);
    width: 95%;
}
