.button{
    border: 0;
    outline: 0;
    background-color: transparent;
    cursor: pointer;
    color: rgb(235, 235, 235);
}

.button:active{
    transform: scale(.9);
}

.contenedor{
    display: flex;
    margin-right: 40px;
}