.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 74vh;
    margin-bottom: 6px;
}

.contBrief{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 40px;
}