.contenedor{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 110px;
    background-color: rgb(41, 41, 41);
}

.brand{
    margin-left: 40px;
    font-size: 28px;
    color: rgb(235, 235, 235);
    cursor: pointer;
    font-family: 'Bevan', cursive;
}

.buscador{
    outline: 0;
    border: 0;
    width: 400px;
    height: 40px;
    padding-left: 8px;
    background-color: rgb(78, 78, 78);
    border-radius: 4px;
    color: rgb(235, 235, 235);
}

